 <% if @contact.present? %>
<p>
  <strong>First Name:</strong>
  <%= @contact.firstname %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @contact.lastname %>
</p>
<p>
  <strong>Email Address:</strong>
  <%= @contact.email %>
</p>
<p>
  <strong>Mobile Number:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>
<p>
  <strong>Contact Type:</strong>
  <%= @contact.contact_type %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
<% else %>
 No contact found
<% end %>
